<div class="container">
    <div class="main">{{ sonSecilen }} </div>
    <button mat-raised-button color="primary" (click)="selectKurban()">Numara Seç</button>

    <div>
        <div>
            <h3> Kalan Numara </h3>
            @for (numara of numaralar; track $index) {
            {{ numara }}
            }
        </div>
        <div>
            <h3> Seçilen Numara</h3>
            @for (numara of tamamlananlar; track $index) {
            {{ numara }}
            }
        </div>
    </div>
</div>
